# All test folders and files --------------------
test*

# Log folder ------------------------------------
/logs/

# Vendor folder ---------------------------------
/vendor/

# Private folder --------------------------------
/private/

# Bitpocket -------------------------------------
/.bitignore